<a href="https://colab.research.google.com/github/DanielaRojasS/Graficos-3D/blob/main/BajoPesoNacer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
import numpy as np

# cargar el archivo
url = '/content/BajoPesoNacer.csv'
df = pd.read_csv(url)

In [19]:
# revisar cantidad de columnas y filas
shape = df.shape
print(shape)

# mostrar las 5 primeras y 5 ultimas filas
print(df)

(10187, 19)
          id  semana  edad_  uni_med_ sexo_       nombre_barrio  \
0          1      41     28         1     M             Oriente
1          2      41     17         1     F     SIN INFORMACION
2          3      44     19         1     F   Villa del Socorro
3          4      47     27         1     F  Las Independencias
4          5      47     23         1     F            Granizal
...      ...     ...    ...       ...   ...                 ...
10182  10183      40     39         1     F     Sin informacion
10183  10184       1     31         1     F     Sin informacion
10184  10185       1     23         1     F     Sin informacion
10185  10186       1     25         1     F     Sin informacion
10186  10187       2     20         1     F     Sin informacion

                comuna tipo_ss_ cod_ase_    fec_con_    ini_sin_  tip_cas_  \
0             Manrique        N     \"\"  01/01/1900  01/01/1900         4
1      SIN INFORMACION        S   EPS003  01/01/1900  01/01/1900         4
2           Santa Cruz        S   EPS003  01/01/1900  01/01/1900         4
3           San Javier        S   EPS003  01/01/1900  01/01/1900         4
4              Popular        N     \"\"  01/01/1900  01/01/1900         4
...                ...      ...      ...         ...         ...       ...
10182  Sin informacion        C   EPS010  07/10/2021  01/01/1900         4
10183  Sin informacion        N     \"\"  03/01/2021  01/01/1900         4
10184  Sin informacion        N     \"\"  04/01/2021  01/01/1900         4
10185  Sin informacion        C   EPS010  09/01/2021  01/01/1900         4
10186  Sin informacion        N     \"\"  14/01/2021  01/01/1900         4

       pac_hos_ peso_nacer talla_nacer sem_gest niv_edu_ma  \
0             1       2440          49       38         SD
1             1       2490          46       37         SD
2             1       2290          47       37         SD
3             1       2400          49       37         SD
4             1       2240          47       38         SD
...         ...        ...         ...      ...        ...
10182         1       2390          48       39          2
10183         1       2380          48       38          2
10184         1       2440          49       38          2
10185         2       2260          46       37          3
10186         1       2445          48       38          2

                   evento  year_
0      BAJO PESO AL NACER   2011
1      BAJO PESO AL NACER   2011
2      BAJO PESO AL NACER   2011
3      BAJO PESO AL NACER   2011
4      BAJO PESO AL NACER   2011
...                   ...    ...
10182  BAJO PESO AL NACER   2021
10183  BAJO PESO AL NACER   2021
10184  BAJO PESO AL NACER   2021
10185  BAJO PESO AL NACER   2021
10186  BAJO PESO AL NACER   2021

[10187 rows x 19 columns]

In [20]:
# filtrar los datos
filtro = df['sexo_'] == 'M'
datos_filtrados = df[filtro]
print(datos_filtrados)

        id  semana  edad_  uni_med_ sexo_             nombre_barrio  \
0        1      41     28         1     M                   Oriente
603    604       1      5         1     M           SIN INFORMACION
2567  2568      40     26         1     M                  Castilla
2583  2584      33     19         1     M  Santo Domingo Savio No.2
2620  2621      42     22         1     M               El Salvador
3237  3238      13     19         1     M                    Enciso
3250  3251      16     22         1     M                     Sucre
3324  3325      18     22         1     M                    Loreto
5089  5090       6     19         1     M                Aures No.2
5099  5100       8     21         1     M                   Popular
6598  6599      30     35         1     M                Blanquizal
6607  6608      32     25         1     M                   Popular
6641  6642      38     31         1     M                  El Pinal
6801  6802      47     18         1     M             Las Estancias
6830  6831      42     27         1     M            Versalles No.1
6974  6975      53     31         1     M               La Libertad

               comuna tipo_ss_ cod_ase_    fec_con_    ini_sin_  tip_cas_  \
0            Manrique        N     \"\"  01/01/1900  01/01/1900         4
603   SIN INFORMACION        C   EPS010  01/01/1900  01/01/1900         4
2567         Castilla        S   UT-004  01/10/2014  01/01/1900         4
2583          Popular        C   EPS010  11/08/2014  01/01/1900         4
2620     Buenos Aires        C   EPS016  13/10/2014  01/01/1900         4
3237    Villa Hermosa        C   EPS002  02/04/2015  01/01/1900         4
3250    Villa Hermosa        C   EPS010  23/04/2015  01/01/1900         4
3324     Buenos Aires        C   EPS010  06/05/2015  01/01/1900         4
5089          Robledo        C   EPS002  10/02/2015  01/01/1900         4
5099          Popular        C   EPS010  23/02/2015  01/01/1900         4
6598       San Javier        C   EPS002  26/07/2014  01/01/1900         4
6607          Popular        S   UT-004  08/08/2014  01/01/1900         4
6641    Villa Hermosa        C   EPS037  16/09/2014  01/01/1900         4
6801    Villa Hermosa        C   EPS010  20/11/2014  01/01/1900         4
6830         Manrique        C   EPS010  17/10/2014  01/01/1900         4
6974    Villa Hermosa        S   UT-004  02/01/2015  01/01/1900         4

      pac_hos_ peso_nacer talla_nacer sem_gest niv_edu_ma              evento  \
0            1       2440          49       38         SD  BAJO PESO AL NACER
603          2       2420          44       37         SD  BAJO PESO AL NACER
2567         2       2410          48       38          3  BAJO PESO AL NACER
2583         1       2390          45       38          2  BAJO PESO AL NACER
2620         2       2140          44       38          2  BAJO PESO AL NACER
3237         2       2410          48       40          2  BAJO PESO AL NACER
3250         2       2310          43       37          2  BAJO PESO AL NACER
3324         2       2330          48       38          2  BAJO PESO AL NACER
5089         2       2240          45       37          2  BAJO PESO AL NACER
5099         2       2340          45       37          2  BAJO PESO AL NACER
6598         2       2480          44       37          2  BAJO PESO AL NACER
6607         2       2240          44       38          2  BAJO PESO AL NACER
6641         2       2430          45       38          3  BAJO PESO AL NACER
6801         2       2460          47       40          2  BAJO PESO AL NACER
6830         2       2370          46       37          2  BAJO PESO AL NACER
6974         2       2030          46       37          2  BAJO PESO AL NACER

      year_
0      2011
603    2012
2567   2014
2583   2014
2620   2014
3237   2015
3250   2015
3324   2015
5089   2015
5099   2015
6598   2014
6607   2014
6641   2014
6801   2014
6830   2014
6974   2014

In [21]:
# valores unicos
unique = df['comuna'].unique()
#df['peso_nacer'].drop_duplicates()
print(unique)

# contar valores unicos
count_unique_values = df['comuna'].value_counts()
print(count_unique_values)

['Manrique' 'SIN INFORMACION' 'Santa Cruz' 'San Javier' 'Popular'
 'Robledo' 'Villa Hermosa' 'El Poblado' 'Doce de Octubre' 'Buenos Aires'
 'Laureles' 'La Candelaria' 'La America' 'San Antonio de Prado' 'Belen'
 'Corregimiento de San Cristobal' 'Aranjuez' 'Castilla' 'Guayabal'
 'Corregimiento De Santa Elena' 'Altavista' 'San Sebastian de Palmitas'
 'Corregimiento de Santa Elena' 'Sin informacion']
comuna
Manrique                          858
Robledo                           820
Villa Hermosa                     784
Popular                           768
San Javier                        733
Doce de Octubre                   710
Belen                             644
Buenos Aires                      613
Aranjuez                          595
Santa Cruz                        552
Castilla                          405
La Candelaria                     400
El Poblado                        356
SIN INFORMACION                   334
San Antonio de Prado              323
Corregimiento de San Cristobal    309
Guayabal                          231
Laureles                          226
La America                        220
Altavista                         120
Sin informacion                    86
Corregimiento De Santa Elena       61
Corregimiento de Santa Elena       26
San Sebastian de Palmitas          13
Name: count, dtype: int64

In [22]:
# resumen del df
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10187 entries, 0 to 10186
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             10187 non-null  int64
 1   semana         10187 non-null  int64
 2   edad_          10187 non-null  int64
 3   uni_med_       10187 non-null  int64
 4   sexo_          10187 non-null  object
 5   nombre_barrio  10187 non-null  object
 6   comuna         10187 non-null  object
 7   tipo_ss_       10187 non-null  object
 8   cod_ase_       10187 non-null  object
 9   fec_con_       10187 non-null  object
 10  ini_sin_       10187 non-null  object
 11  tip_cas_       10187 non-null  int64
 12  pac_hos_       10187 non-null  int64
 13  peso_nacer     10187 non-null  object
 14  talla_nacer    10187 non-null  object
 15  sem_gest       10187 non-null  object
 16  niv_edu_ma     10187 non-null  object
 17  evento         10187 non-null  object
 18  year_          10187 non-null  int64
dtypes: int64(7), object(12)
memory usage: 1.5+ MB
None

In [23]:
# agregar nueva columna sexo

df['nueva_columna_sexo'] = df['sexo_'].apply(lambda x: 1 if x == 'M' else 0 )
print(df.tail())

          id  semana  edad_  uni_med_ sexo_    nombre_barrio           comuna  \
10182  10183      40     39         1     F  Sin informacion  Sin informacion
10183  10184       1     31         1     F  Sin informacion  Sin informacion
10184  10185       1     23         1     F  Sin informacion  Sin informacion
10185  10186       1     25         1     F  Sin informacion  Sin informacion
10186  10187       2     20         1     F  Sin informacion  Sin informacion

      tipo_ss_ cod_ase_    fec_con_    ini_sin_  tip_cas_  pac_hos_  \
10182        C   EPS010  07/10/2021  01/01/1900         4         1
10183        N     \"\"  03/01/2021  01/01/1900         4         1
10184        N     \"\"  04/01/2021  01/01/1900         4         1
10185        C   EPS010  09/01/2021  01/01/1900         4         2
10186        N     \"\"  14/01/2021  01/01/1900         4         1

      peso_nacer talla_nacer sem_gest niv_edu_ma              evento  year_  \
10182       2390          48       39          2  BAJO PESO AL NACER   2021
10183       2380          48       38          2  BAJO PESO AL NACER   2021
10184       2440          49       38          2  BAJO PESO AL NACER   2021
10185       2260          46       37          3  BAJO PESO AL NACER   2021
10186       2445          48       38          2  BAJO PESO AL NACER   2021

       nueva_columna_sexo
10182                   0
10183                   0
10184                   0
10185                   0
10186                   0

In [24]:
# Convertir columna a numerica
df['sem_gest'] = pd.to_numeric(df['sem_gest'], errors='coerce')

#los vacios completar con 0
df['sem_gest'] = df['sem_gest'].fillna(0)
#convertir de flotante a entero
df['sem_gest'] = df['sem_gest'].astype('int')

# resumen del df
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10187 entries, 0 to 10186
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  10187 non-null  int64
 1   semana              10187 non-null  int64
 2   edad_               10187 non-null  int64
 3   uni_med_            10187 non-null  int64
 4   sexo_               10187 non-null  object
 5   nombre_barrio       10187 non-null  object
 6   comuna              10187 non-null  object
 7   tipo_ss_            10187 non-null  object
 8   cod_ase_            10187 non-null  object
 9   fec_con_            10187 non-null  object
 10  ini_sin_            10187 non-null  object
 11  tip_cas_            10187 non-null  int64
 12  pac_hos_            10187 non-null  int64
 13  peso_nacer          10187 non-null  object
 14  talla_nacer         10187 non-null  object
 15  sem_gest            10187 non-null  int64
 16  niv_edu_ma          10187 non-null  object
 17  evento              10187 non-null  object
 18  year_               10187 non-null  int64
 19  nueva_columna_sexo  10187 non-null  int64
dtypes: int64(9), object(11)
memory usage: 1.6+ MB
None

In [25]:
# Convertir peso y talla nacer a numerica
df[['peso_nacer', 'talla_nacer']] = df[['peso_nacer', 'talla_nacer']].apply(pd.to_numeric, errors='coerce')

df[['peso_nacer', 'talla_nacer']] = df[['peso_nacer', 'talla_nacer']].fillna(0)
df[['peso_nacer', 'talla_nacer']] = df[['peso_nacer', 'talla_nacer']].astype(int)

# resumen del df
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10187 entries, 0 to 10186
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  10187 non-null  int64
 1   semana              10187 non-null  int64
 2   edad_               10187 non-null  int64
 3   uni_med_            10187 non-null  int64
 4   sexo_               10187 non-null  object
 5   nombre_barrio       10187 non-null  object
 6   comuna              10187 non-null  object
 7   tipo_ss_            10187 non-null  object
 8   cod_ase_            10187 non-null  object
 9   fec_con_            10187 non-null  object
 10  ini_sin_            10187 non-null  object
 11  tip_cas_            10187 non-null  int64
 12  pac_hos_            10187 non-null  int64
 13  peso_nacer          10187 non-null  int64
 14  talla_nacer         10187 non-null  int64
 15  sem_gest            10187 non-null  int64
 16  niv_edu_ma          10187 non-null  object
 17  evento              10187 non-null  object
 18  year_               10187 non-null  int64
 19  nueva_columna_sexo  10187 non-null  int64
dtypes: int64(11), object(9)
memory usage: 1.6+ MB
None

In [26]:
# pasar columna comuna a numerica
comuna = {
    'Popular': 1,
    'Santa Cruz': 2,
    'Manrique': 3,
    'Aranjuez': 4,
    'Castilla': 5,
    'Doce de Octubre': 6,
    'Robledo': 7,
    'Villa Hermosa': 8,
    'Buenos Aires':9,
    'La Candelaria': 10,
    'Laureles': 11,
    'La America': 12,
    'San Javier': 13,
    'El Poblado': 14,
    'Guayabal': 15,
    'Belen': 16,
    'Altavista': 17,
    'San Sebastian de Palmitas': 18,
    'San Antonio de Prado': 19,
    'Corregimiento de San Cristobal': 20,
    'Corregimiento de Santa Elena': 21,
    'SIN INFORMACION': 22
}

df['numero_comuna'] = df['comuna'].map(comuna).fillna(0).astype(int)

# columna tipo de seguridad social a numerica
tipo_ss_ = {
    'C': 1, #CONTRIBUTIVO
    'S': 2, #SUBSIDIADO
    'N': 3, #NO ASEGURADO
    'P': 4, #EXCEPCION
    'E': 5, #ESPECIAL
    'I': 6, #INDETERMINADO/PENDIENTE
}

df['numero_tipo_ss_'] = df['tipo_ss_'].map(tipo_ss_).fillna(0).astype(int)

# ver elementos aleatorios
print(df.sample(7))

        id  semana  edad_  uni_med_ sexo_               nombre_barrio  \
7505  7506      20     23         1     F               López de Mesa
5591  5592       9     17         1     F                    El Pinal
9614  9615      40     29         1     F           Manrique Oriental
411    412      16     24         1     F                    Brasilia
5257  5258      31     20         1     F        San Antonio de Prado
8717  8718      46     20         1     F  Área de Expansión Pajarito
9348  9349      44     33         1     F               Villa Carlota

                              comuna tipo_ss_ cod_ase_    fec_con_  ...  \
7505                         Robledo        C   EPS002  12/05/2019  ...
5591                   Villa Hermosa        S   UT-004  05/03/2015  ...
9614                        Manrique        C   EPS010  04/10/2021  ...
411                         Aranjuez        S   ESS002  19/04/2012  ...
5257            San Antonio de Prado        S   EPS003  07/08/2015  ...
8717  Corregimiento de San Cristobal        S   EPSS02  12/11/2020  ...
9348                      El Poblado        C   EPS002  04/11/2021  ...

     pac_hos_  peso_nacer  talla_nacer  sem_gest  niv_edu_ma  \
7505        1        2480           47        40           3
5591        1        2230           47        38           2
9614        1        2435           48        39           2
411         1        2140           44        39           1
5257        2        2143           45        37           2
8717        1        2330           46        38           2
9348        2        2490           47        37           2

                  evento year_ nueva_columna_sexo  numero_comuna  \
7505  BAJO PESO AL NACER  2019                  0              7
5591  BAJO PESO AL NACER  2015                  0              8
9614  BAJO PESO AL NACER  2021                  0              3
411   BAJO PESO AL NACER  2012                  0              4
5257  BAJO PESO AL NACER  2015                  0             19
8717  BAJO PESO AL NACER  2020                  0             20
9348  BAJO PESO AL NACER  2021                  0             14

      numero_tipo_ss_
7505                1
5591                2
9614                1
411                 2
5257                2
8717                2
9348                1

[7 rows x 22 columns]

In [27]:
# calcular estadistica descriptiva
print(df.describe())

                id        semana         edad_  uni_med_  tip_cas_  \
count  10187.00000  10187.000000  10187.000000   10187.0   10187.0
mean    5094.00000     27.027977     25.572593       1.0       4.0
std     2940.87793     14.675129      6.749109       0.0       0.0
min        1.00000      1.000000      5.000000       1.0       4.0
25%     2547.50000     15.000000     20.000000       1.0       4.0
50%     5094.00000     28.000000     25.000000       1.0       4.0
75%     7640.50000     39.000000     30.000000       1.0       4.0
max    10187.00000     53.000000     57.000000       1.0       4.0

           pac_hos_    peso_nacer   talla_nacer      sem_gest         year_  \
count  10187.000000  10187.000000  10187.000000  10187.000000  10187.000000
mean       1.368313   2313.364779     45.746638     37.647492   2016.594778
std        0.482370    170.419778      4.709936      1.016897      2.837770
min        1.000000      0.000000      0.000000      0.000000   2011.000000
25%        1.000000   2240.000000     45.000000     37.000000   2014.000000
50%        1.000000   2360.000000     46.000000     37.000000   2017.000000
75%        2.000000   2440.000000     47.000000     38.000000   2019.000000
max        2.000000   2499.000000     55.000000     45.000000   2021.000000

       nueva_columna_sexo  numero_comuna  numero_tipo_ss_
count        10187.000000   10187.000000     10187.000000
mean             0.001571       8.887111         1.514283
std              0.039602       5.887470         0.761886
min              0.000000       0.000000         1.000000
25%              0.000000       4.000000         1.000000
50%              0.000000       8.000000         1.000000
75%              0.000000      13.000000         2.000000
max              1.000000      22.000000         6.000000

In [28]:
#poner rangos de edad

def rangos_edad(edad):
  if edad < 15:
    return "0-14"
  elif edad < 25:
    return "15-24"
  elif edad < 35:
    return "25-34"
  elif edad < 45:
    return "35-44"
  else:
    return "45 o mas"

df['rango_edad_'] = df['edad_'].apply(rangos_edad)
print(df.head())

   id  semana  edad_  uni_med_ sexo_       nombre_barrio           comuna  \
0   1      41     28         1     M             Oriente         Manrique
1   2      41     17         1     F     SIN INFORMACION  SIN INFORMACION
2   3      44     19         1     F   Villa del Socorro       Santa Cruz
3   4      47     27         1     F  Las Independencias       San Javier
4   5      47     23         1     F            Granizal          Popular

  tipo_ss_ cod_ase_    fec_con_  ... peso_nacer  talla_nacer  sem_gest  \
0        N     \"\"  01/01/1900  ...       2440           49        38
1        S   EPS003  01/01/1900  ...       2490           46        37
2        S   EPS003  01/01/1900  ...       2290           47        37
3        S   EPS003  01/01/1900  ...       2400           49        37
4        N     \"\"  01/01/1900  ...       2240           47        38

   niv_edu_ma              evento  year_ nueva_columna_sexo numero_comuna  \
0          SD  BAJO PESO AL NACER   2011                  1             3
1          SD  BAJO PESO AL NACER   2011                  0            22
2          SD  BAJO PESO AL NACER   2011                  0             2
3          SD  BAJO PESO AL NACER   2011                  0            13
4          SD  BAJO PESO AL NACER   2011                  0             1

   numero_tipo_ss_  rango_edad_
0                3        25-34
1                2        15-24
2                2        15-24
3                2        25-34
4                3        15-24

[5 rows x 23 columns]

In [30]:
from google.colab import files

df.to_csv('BajoPesoNacerModificado.csv', index=False)
files.download('BajoPesoNacerModificado.csv')